@font-face {
  font-family: 'TitleFont';
  src: url('/public/Rase-GPL-Outline.otf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; 
  color: #ffffff; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

.navbar-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: 'TitleFont', sans-serif;
}

.navbar-logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  vertical-align: middle; 
}

.navbar-button {
  display: flex;
  align-items: center;
}

.navbar-button button {
  padding: 10px 15px;
  background-color: #6f6f6f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button button:hover {
  background-color: #0271e7;
}

.account-info, .borrow-market, .borrow, .supply {
  background: #1e1e1e;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333; 
  padding: 8px;
}

th {
  background-color: #333;
  color: #ffffff; 
}

td {
  background-color: #1e1e1e;
  color: #ffffff; 
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #ffffff; 
  border: 1px solid #555; 
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color:  #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a4a7aa;
}

input::placeholder {
  color: #aaaaaa;
}

.supply {
  background: #1e1e1e; 
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.supply-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.input-label {
  margin-left: 10px;
  white-space: nowrap;
}

.supply-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.supply-form button:hover {
  background-color: #0056b3;
}

.calculated-results {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.position-summary {
  background: #1e1e1e; 
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.position-summary h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.position-summary table {
  width: 100%;
  border-collapse: collapse;
}

.position-summary td {
  padding: 10px;
  border-bottom: 1px solid #333;
  color: #ffffff;
}

.position-summary td:first-child {
  text-align: left;
}

.position-summary td:last-child {
  text-align: right;
}

.exchange {
  margin: 20px;
}

.exchange-type {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.exchange-type button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #797979;
  font-size: 16px;
}

.exchange-type button:hover {
  background-color: #6a6a6a;
}

.amm {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.amm h2 {
  text-align: center;
}

.exchange-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchange-form div {
  margin-bottom: 15px;
}

.exchange-form label {
  display: block;
  margin-bottom: 5px;
}

.exchange-form input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exchange-form button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.exchange-form button:hover {
  background-color: #218838;
}


.exchange-form select {
  padding: 10px;
  width: 320px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.pbr-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pbr-warning button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pbr-warning button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.account-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.account-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-item span {
  flex-grow: 1;
}

.account-item button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-item button:hover {
  background-color: #0056b3;
}